<template>
	<NuxtLayout name="base">
		<div class="container mt-10 mx-auto">
			<div
				class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
				<div>
					<div class="text-xl font-medium text-black text-center">Tailwind</div>
					<p class="text-slate-500 text-center">This is the first message!</p>
				</div>
			</div>
		</div>
	</NuxtLayout>
</template>
<script lang="ts" setup>
import { useMainStore } from "@/stores/main";
import { storeToRefs } from "pinia";
const main = useMainStore();

</script>

<style lang="postcss" scoped>
.badge {
	@apply inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700;
	&:hover {
		@apply bg-gray-300;
	}
}
</style>
